---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footbar from '../components/Footbar.astro';
import ThirdPartyScripts from '../components/ThirdPartyScripts.astro';
import { SITE_BRAND, SITE_DESCRIPTION_DEFAULT, SITE_LOCALE, SITE_NAME } from '../data/site';

const { title = SITE_NAME, description = SITE_DESCRIPTION_DEFAULT } = Astro.props;
---

<!doctype html>

<html lang={SITE_LOCALE}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description} />}
		<title>{title}</title>
		<ThirdPartyScripts />
	</head>
	<body>
		<Navbar brand={SITE_BRAND} />
		<slot />
		<Footbar />
	</body>
</html>
